.list {
    display: flex;
        
}
.list__itom {
  display: flex;
  flex-wrap: wrap;
  } 

@media screen and (min-width: 768px) and (max-width: 1199px){
 .list {
    display: flex;
    margin: -15px;
    flex-wrap: wrap;
 }
}
@media screen and (min-width: 1200px){
.list {
    display: flex;
 }
}
  @media screen and (max-width: 1200px) {
    .hero-conteiner {
      padding: 94px 0;
    }
  }
  
  @media screen and (max-width: 1199px) {
    .hero-conteiner {
      padding-bottom:60px;
    }
  }
 
  @media screen and (max-width: 767px){
.list__itom:not(:last-child) {
    margin-bottom: 30px;
   }
  }
  @media screen and (max-width: 767px){
.list__itom {
    display: flex;
    flex-direction: column;
    align-items: center;
   } 
  }
  @media screen and (min-width: 1200px){
  .list__itom+.list__itom {
    margin-left: 30px;
 }
  }
  @media screen and (min-width: 768px) and (max-width: 1199px){
  .list__itom {
      flex-basis: calc((100% - 60px) / 2);
      margin: 15px; 
  }
}


  @media screen and (min-width: 1200px){
 .list__itom {
    flex-basis: calc((100% - 90px) / 4);
  }
}
  .list__description {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--text-gray);
    margin-right: 30px;
    box-sizing: border-box;
    width: 270px;
    Height:75px;
  }
  .list__title {
    font-family: var(--main-font);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--color-names);
    margin-bottom: 10px;
    margin-right: 30px;
  }